<% if(errors.length){ %>
    <div>
        <ul>
            
            <% errors.forEach(err => { %>
                <center>
                    <li  class="errors"> <%= err.msg || errors %> </li>
                </center>
            <% }) %>
            
            
            
        </ul>
    </div>
<% } %>