h1{
    display: table;
    background-color: rgb(46, 195, 240);
    color: white;
    align-content: center;
}

a{
    background-color: pink;
    color: black;
    display:flexbox;
}

li.errors{
   
    background-color: black;
    color: black;
    display: table;
    font-size: 2em;
   font-family: serif;
   color:red;
   text-align: center;
   
 
    
}

